li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
  justify-content: space-between;
}
.text {
  margin-right: 9rem;
}
.button1 {
  position: absolute;
  top: 0;
  right: 4rem;
  display: inline-block;
}
.button2 {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
.editArea {
  margin-top: 1rem;
}
